@keyframes vibrate {
  from {
    top: 0;
    left: 0;
  }
  50% {
    top: -2px;
    left: -1px;
  }
  to {
    top: 0;
    left: 0;
  }
}
@keyframes rotate {
  0% {
    width: 64px;
    height: 64px;
    transform: rotate(0deg);
  }
  50% {
    width: 30px;
    height: 30px;
    transform: rotate(180deg);
  }
  100% {
    width: 64px;
    height: 64px;
    transform: rotate(360deg);
  }
}
#gradient-vertical {
  --color-stop-1: #9356dc;
  --color-stop-2: #ff79da;
}

.like .empty_heart:hover {
  fill: url(#gradient-vertical) gray;
  stroke: url(#gradient-vertical) gray;
}

.fav .empty_heart:hover {
  fill: url(#gradient-vertical) gray;
  stroke: url(#gradient-vertical) gray;
}

@keyframes slide-left {
  from {
    margin-right: -75px;
  }
  to {
    margin-right: 0px;
  }
}
@keyframes slide-right {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(100%);
  }
}
.card_options:hover .options_txt h3 {
  text-overflow: ellipsis;
  max-width: 220px;
}
.card_options:hover .options_txt p {
  text-overflow: ellipsis;
  max-width: 220px;
}
.card_options:hover .options_content .price {
  animation: 0.8s slide-left;
  padding-left: 0;
  padding-right: 0;
}
.card_options:hover .options_content .check {
  display: block;
  margin-right: 0px;
  animation: 0.8s slide-left;
}

.head_menu {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.logo_header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
}
.logo_header img {
  width: auto;
  height: 30px;
}

.sec_header {
  display: flex;
  justify-content: center;
  width: 100%;
}

.location {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #EAEAEA;
  height: 50px;
  font-weight: 500;
  font-size: 16px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 4px 0px inset;
}

.search_form {
  display: flex;
  max-width: 130px;
  gap: 17px;
}
.search_form .search_holder {
  display: flex;
  border: 0;
  background-color: transparent;
  font-size: 16px;
  font-weight: 550;
}

.return {
  position: absolute;
  left: 5px;
  display: flex;
  justify-content: center;
  width: 15%;
}
.return button {
  display: flex;
  justify-content: center;
  border: none;
  background-color: white;
  font-size: 25px;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px 15px 15px 15px;
  background-color: rgb(243, 242, 242);
}

.hero_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 25px 35px 35px 35px;
  gap: 25px;
}

.hero_txt {
  display: inline-block;
  text-align: center;
}

.hero_txt h2 {
  padding: 5px;
}

.hero_txt p {
  margin-top: 0;
  margin-bottom: 0;
}

.btn_box {
  display: flex;
  justify-content: center;
}

.operation {
  display: flex;
  justify-content: left;
  flex-direction: column;
  padding: 20px 30px 55px 30px;
}

.operation_content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

.panel {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  max-width: 281px;
  min-width: 281px;
  gap: 25px;
  position: relative;
  background-color: #F6f6f6;
  border-radius: 20px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.15));
  padding: 25px;
}
.panel .panel_number {
  position: absolute;
  left: -15px;
  border-radius: 50%;
  padding: 5px 10px 5px 10px;
  background-color: var(--main-color);
  color: white;
}
.panel .panel_number p {
  font-size: 14px;
}
.panel p {
  font-size: 16px;
  font-weight: 550;
}
.panel i {
  padding-left: 15px;
  width: 13px;
  color: grey;
}

@media (min-width: 769px) {
  .operation {
    padding-left: 45px;
  }
  .operation .operation_content {
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
  }
  .operation .panel {
    padding: 25px;
    min-width: 281px;
  }
}
@media (min-width: 1025px) {
  .operation {
    align-items: center;
  }
  .operation .operation_box {
    display: flex;
    flex-direction: column;
    min-width: 1024px;
    max-width: 1024px;
  }
  .operation .section_title {
    padding-left: 20px;
  }
  .operation .operation_content {
    flex-wrap: nowrap;
  }
  .operation .panel {
    min-width: 251px;
    max-width: 281px;
  }
}
.restaurants {
  display: flex;
  flex-direction: column;
  background-color: rgb(243, 242, 242);
  padding: 15px;
  padding-bottom: 65px;
}

@media (min-width: 769px) {
  .restaurants .section_title {
    display: flex;
    padding-left: 30px;
  }
}
@media (min-width: 1025px) {
  .restaurants {
    align-items: center;
  }
  .restaurants .restaurants_box {
    display: flex;
    flex-direction: column;
    max-width: 1024px;
  }
  .restaurants .section_title {
    padding-left: 20px;
  }
}
footer {
  background-color: #353535;
  color: white;
  padding: 25px;
}
footer .footer_box {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.logo_footer h4 {
  font-family: "Shrikhand";
  font-size: 18px;
  font-weight: 400;
  margin: 0;
  padding-bottom: 5px;
}

.footer_link {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.footer_link p {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.footer_link p i {
  width: 12px;
}

.link_font p {
  font-weight: 550;
}

@media (min-width: 769px) {
  footer {
    padding: 50px;
    padding-bottom: 25px;
  }
  footer .footer_box {
    flex-direction: row-reverse;
    align-items: end;
    justify-content: end;
    justify-content: space-between;
  }
  .logo_footer h4 {
    padding: 0;
  }
  .footer_link {
    flex-direction: row;
    width: 85%;
    justify-content: end;
  }
}
.menu {
  display: flex;
  position: relative;
  top: -55px;
  flex-direction: column;
  background-color: rgb(243, 242, 242);
  border-radius: 25px 25px 0px 0px;
  padding: 15px;
  margin-bottom: -55px;
}

.title {
  display: flex;
  align-items: center;
  position: relative;
  padding: 10px 0px 15px 0px;
}
.title .like {
  position: absolute;
  right: 20px;
}

.all_menu {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.dishes {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.dishes h2 {
  margin: 0;
  font-weight: 300;
  font-size: 16px;
  padding-bottom: 10px;
  width: 10%;
  position: relative;
}
.dishes h2::after {
  content: "";
  height: 5px;
  width: 100%;
  max-width: 38px;
  background-color: var(--tertia-color);
  position: absolute;
  left: 0;
  top: 40px;
  pointer-events: none;
}
.dishes h3 {
  font-size: 18px;
  margin: 0;
}
.dishes p {
  font-size: 15px;
  font-weight: 300;
}
.dishes .price {
  justify-content: end;
}
.dishes .price p {
  font-size: 18px;
  font-weight: 700;
}

.order {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
}
.order .btn {
  padding: 15px 45px 15px 45px;
}

@media (max-width: 365px) {
  .title i {
    position: absolute;
    right: 0px;
    bottom: 5px;
  }
}
@media (min-width: 769px) {
  .menu {
    max-width: 1050px;
  }
  .menu .title {
    width: 100%;
    justify-content: center;
  }
  .menu .title h1 {
    position: relative;
  }
  .menu .title i {
    right: 28%;
  }
  .menu .all_menu {
    width: 100%;
    align-items: center;
  }
  .menu .dishes {
    align-items: center;
    padding: 38px;
    max-width: 739px;
  }
  .menu .dishes .dishes_title {
    display: flex;
    width: 100%;
    left: 35%;
  }
}
@media (min-width: 1025px) {
  .menu {
    min-width: 995px;
  }
}
.card_menu {
  display: flex;
  flex-direction: column;
  gap: 17px;
}

.card_set {
  max-width: 550px;
  position: relative;
}

.card {
  background-color: white;
  position: relative;
  border-radius: 20px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
  object-fit: cover;
  height: 180px;
  border-radius: 20px 20px 0px 0px;
  width: 100%;
}

.card_content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

.card_txt {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.card_txt h3 {
  margin: 0;
}

.fav {
  position: absolute;
  z-index: auto;
  right: 15px;
}
.fav svg {
  display: flex;
  align-items: center;
  padding: 10px;
}

.stamp {
  background: var(--tertia-color);
  color: #008766;
  padding: 5px 15px;
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 550;
  position: absolute;
  right: 20px;
  top: 20px;
}

@media (min-width: 500px) {
  .card_menu {
    align-items: center;
  }
  .card_menu .card_set {
    width: 100%;
    min-width: 420px;
    max-width: 550px;
  }
}
@media (min-width: 769px) {
  .card_menu .card_set {
    min-width: 350px;
    max-width: 420px;
  }
}
@media (min-width: 1025px) {
  .card_menu {
    gap: 60px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .card_menu .card_set {
    width: 45%;
    min-width: 420px;
    max-width: 490px;
  }
}
.btn {
  color: white;
  background: linear-gradient(0deg, rgb(147, 86, 220) 0%, rgb(255, 121, 218) 100%);
  padding: 15px 20px 15px 20px;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 15px;
  transition: all 0.4s ease-in-out;
}
.btn:hover {
  opacity: 0.75;
}
.btn:hover span {
  position: relative;
  animation: vibrate 0.5s alternate;
  transition: all 0.4s ease-in-out;
}

.banner_img img {
  object-fit: cover;
  width: 100%;
  max-height: 275px;
}

@media (min-width: 1025px) {
  .banner_img {
    width: 100%;
  }
}
.dishes_options {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.card_options {
  display: flex;
  position: relative;
  background-color: white;
  min-height: 71px;
  max-height: 71px;
  min-width: 320px;
  max-width: 634px;
  border-radius: 20px;
  overflow: hidden;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}
.card_options .options_content {
  display: flex;
  justify-content: space-between;
  align-items: end;
  width: 100%;
}
.card_options .options_content .options_txt {
  display: block;
  width: 100%;
  padding: 13px;
}
.card_options .options_content .options_txt h3 {
  overflow: hidden;
  white-space: nowrap;
}
.card_options .options_content .options_txt p {
  overflow: hidden;
  white-space: nowrap;
}
.card_options .options_content .price {
  display: flex;
  align-items: end;
  width: 13%;
  padding: 17px;
  padding-left: 0;
}
.card_options .options_content .check {
  display: block;
  background-color: var(--tertia-color);
  border: none;
  border-radius: 0 25% 25% 0;
  margin-left: 5px;
  margin-right: -75px;
  min-width: 59px;
  min-height: 71px;
  transition: transform 0.8s ease-in-out;
}
.card_options .options_content .check i {
  border-radius: 50%;
  background-color: white;
  padding: 2px;
  color: var(--tertia-color);
}

@media (max-width: 365px) {
  .card_options {
    min-width: 150px;
  }
}
@media (min-width: 769px) {
  .dishes_options {
    width: 100%;
    align-items: center;
  }
  .dishes_options .card_options {
    min-width: 634px;
  }
}
* {
  font-family: "Roboto";
}

:root {
  --main-color: #9356DC;
  --second-color: #FF79DA;
  --tertia-color: #99E2D0;
}

body {
  display: flex;
  justify-content: center;
  margin: 0;
}

.main-container {
  width: 100%;
  max-width: 1440px;
  box-sizing: border-box;
}

main {
  display: flex;
  flex-direction: column;
}

h1 {
  font-family: "Shrikhand";
  font-size: 28px;
  font-weight: 400;
  margin: 0;
}

h2 {
  font-size: 24px;
  font-weight: 700;
  margin: 5px;
  padding-top: 15px;
  padding-bottom: 15px;
}

p {
  font-size: 1.063rem;
  font-weight: 400;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (min-width: 1025px) {
  .main_menu {
    align-items: center;
  }
}

/*# sourceMappingURL=style.css.map */
