.card_menu{
    display: flex;
    flex-direction: column;
    gap: 17px;
}


.card {
    background-color: white;
    border-radius: 20px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
    height: 180px;
    border-radius: 20px 20px 0px 0px;
    width: 100%;
}

.card_content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.card_txt{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: left
}

.card_txt h3{
    margin: 0
}

.like i{
    width: 22px;
    height: 21px;
    padding: 10px;
}