@import "../SASS/Keyframes/buttonani", "../SASS/Keyframes/likeani", "../SASS/mediaqueries/tablette";
@import "../SASS/sections/header", "../SASS/sections/hero", "../SASS/sections/operation", "../SASS/sections/restaurants", "../SASS/sections/footer", "../SASS/sections/menu",
 "../SASS/composants/cards", "../SASS/composants/button", "../SASS/composants/banner", "../SASS/composants/dishes";


* {
    font-family: 'Roboto';
}

:root {
    --main-color: #9356DC;
    --second-color: #FF79DA;
    --tertia-color: #99E2D0;
}

body {
    display: flex;
    justify-content: center;
    margin: 0;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    box-sizing: border-box;
}

h1 {
    font-family: 'Shrikhand';
    font-size: 28px;
    font-weight: 400;
    margin: 0;
}

h2 {
    font-size: 24px;
    font-weight: 700;
    margin: 5px;
    padding-top: 15px;
    padding-bottom: 15px;  
}

p {
    font-size: 1.063rem;
    font-weight: 400;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

// @media (min-width: 769px) {
//     body {
//      padding: 0;
//     }
// }