.card_menu {
    display: flex;
    flex-direction: column;
    gap: 17px;
    
}

.card_set {
    max-width: 550px;
    position: relative;
}

.card {
    background-color: white;
    position: relative;
    border-radius: 20px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
    height: 180px;
    border-radius: 20px 20px 0px 0px;
    width: 100%;
}

.card_content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.card_txt {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: left
}

.card_txt h3 {
    margin: 0
}

.fav { 
    position: absolute;
    z-index: auto;
    right: 15px;

    svg {
    display: flex;
    align-items: center;
    padding: 10px;
    }
}

.stamp {
    background: var(--tertia-color);
    color: #008766;
    padding: 5px 15px ;
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: 550;
    position: absolute;
    right: 20px;
    top: 20px;
}


@media (min-width: 500px ) {
    
    .card_menu {

        align-items: center;
        
        .card_set {
            width: 100%;
            min-width: 420px;
            max-width: 550px;
        }
    }

};

@media (min-width: 769px) {
    
    .card_menu {
        
        .card_set {
            min-width: 350px;
            max-width: 420px;
        }
    }

}


@media (min-width: 1025px) {

    .card_menu {
        gap: 60px;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;

        .card_set {
            width: 45%;
            min-width: 420px;
            max-width: 490px;
        }
    }
}