.dishes_options {
    display: flex;
    flex-direction: column;
    gap: 15px;
}


.card_options {
    display: flex;
    position: relative;
    background-color: white;
    min-height: 71px;
    max-height: 71px;
    min-width: 320px;
    max-width: 634px;
    border-radius: 20px;
    
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    

    .options_content {
        display: flex;
        justify-content: space-between;
        align-items:end;
        padding: 13px;
        width: 100%;
        
        .options_txt {
            display: block;
            width: 100%;

            h3 {
                overflow: hidden;
                white-space: nowrap;
            }
            
            p {
                overflow: hidden;
                white-space: nowrap;
            }
        }

        .price {
            display: flex;
            align-items: end;
            width: 13%;
            
        }

    }
}

@media (max-width: 365px) {
    .card_options {
        min-width: 150px;
    }
}


@media (min-width: 769px) {

    .dishes_options {
        width: 100%;
        align-items: center;

        .card_options {
            min-width: 634px;
        }
    }
}