@keyframes slide-left {
    from {
        margin-right: -75px;
    }
    
    to {
        margin-right: 0px;
    }
}

@keyframes slide-right {
    from {
        margin-right: 0px;
    }
    
    to {
        margin-right: -75px;
    }
}


.card_options {

    &:hover {
        
        .options_txt {
            

            h3 {
                text-overflow: ellipsis;
                max-width: 220px;
            }

            p {
                text-overflow: ellipsis;
                max-width: 220px;
            }
        }

        .options_content {
            .price {
            animation: 0.4s slide-left forwards ease-in-out;
            padding-left: 0;
            padding-right: 0;
            }
            .check {
            margin-right: 0px;
            animation: 0.8s slide-left forwards ease-in-out;        
            }
        }
        
    }
}


@media (min-width: 450px) {
    .card_options {

        &:hover {
            
            .options_txt {
                
    
                h3 {
                    max-width: 290px;
                }
    
                p {
                    max-width: 290px;
                }
            }            
        }
    }
}