@keyframes slide-left {
    from {
        margin-right: -75px;
    }
    
    to {
        margin-right: 0px;
    }
}


@keyframes slide-right {
    from {
        transform: translateX(0%);
    }
    
    to {
        transform: translateX(100%);
    }
}


.card_options {

    &:hover {
        
        .options_txt {
            

            h3 {
                text-overflow: ellipsis;
                max-width: 220px;
            }

            p {
                text-overflow: ellipsis;
                max-width: 220px;
            }
        }

        .options_content {
            .price {
            animation: 0.8s slide-left ;
            padding-left: 0;
            padding-right: 0;
            }
            .check {
            display: block;
            margin-right: 0px;
            animation: 0.8s slide-left ;            
            }
        }
        
    }
}