footer {
    background-color: #353535;
    color: white;
    padding: 25px;

    .footer_box {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
}


.logo_footer h4 {
    font-family: 'Shrikhand';
    font-size:  18px;
    font-weight: 400;
    margin: 0;
    padding-bottom: 5px;
}

.footer_link {
    display: flex;
    flex-direction: column;
    gap: 5px;
    
    p {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;

        i {
            width: 12px;
        }
    }
}

.link_font p {
    font-weight: 550;
}

@media (min-width: 769px) {
    
    footer {
        padding: 50px;
        padding-bottom: 25px;
        padding-left: 25px;
    }


    footer .footer_box {
        flex-direction: row-reverse;
        align-items: end;
        justify-content: space-between;        

    }

    .logo_footer h4 {
        padding: 0;
        padding-left: 10px;
    }

    .footer_link {
        flex-direction: row;
        width: 85%;
        justify-content: center;
        gap: 10px;
    }
}

@media (min-width: 900px) {

    .footer_link {
        justify-content: end;
        gap: 15px;
    }
}