.head_menu {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}


.logo_header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    
    img {
        width: auto;
        height: 30px;
    }
}

.sec_header {
    display: flex;
    justify-content: center;
    width: 100%;
    
}

.location {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #EAEAEA;
    height: 50px;
    font-weight: 500;
    font-size: 16px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 4px 0px inset;
}

.search_form {
    display: flex;
    max-width: 130px;
    gap: 17px;
    
    .search_holder {
        display: flex;
        border: 0;
        background-color: transparent;
        font-size: 16px;
        font-weight: 550;
    }
}


.return {
    position: absolute;
    left: 5px;
    display: flex;
    justify-content: center;
    width: 15%;
    font-size: 25px;

}