.menu {
    display: flex;
    position: relative;
    top: -55px;
    flex-direction: column;
    background-color:rgb(243, 242, 242);
    border-radius: 25px 25px 0px 0px;
    padding: 15px;
    margin-bottom: -55px;
}

.title {
    display: flex;
    align-items: center;
    position: relative;
    padding: 10px 0px 15px 0px;

    .like {
        position: absolute;
        right: 20px;
    }

    
}

.all_menu {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.dishes {
    display: flex;
    flex-direction: column;
    gap: 15px;

    h2 {
        margin: 0;
        font-weight: 300;
        font-size: 16px;
        padding-bottom: 10px;
        width: 10%;
        position: relative;
        
        &::after {
            content: "";
            height: 5px;
            width: 100%;
            max-width: 38px;
            background-color: var(--tertia-color);
            position: absolute;
            left: 0;
            top: 40px;
            pointer-events: none;
        }
    }

    h3 {
        font-size: 18px;
        margin: 0;
    }

    p {
        font-size: 15px;
        font-weight: 300;
    }

    .price {
        
        justify-content: end;
        p {
            font-size: 18px;
            font-weight: 700;
        }
    }
}


.order {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;

    .btn {
        padding: 15px 45px 15px 45px;
    }
}


@media (max-width: 365px) {
    
    .title {
        
        i {
            position: absolute;
            right: 0px;
            bottom: 5px;
        }
    
        
    }
}

@media (min-width: 769px) {
    .menu {
        max-width: 1050px;

        .title {
            width: 100%;
            justify-content: center;

            h1 {
                position: relative;
            }

            i {
                right: 28%;
            }
        }

        .all_menu {
            width: 100%;
            align-items: center;
        }

        .dishes {
            align-items: center;
            padding: 38px;
            max-width: 739px;

            .dishes_title {
                display: flex;
                width: 100%;
                left: 35%;
            }
        }
    }
}

@media (min-width: 1025px) {
    .menu {
        min-width: 995px;
    }
}