.operation{
    display: flex;
    justify-content: left;
    flex-direction: column;
    padding: 20px 30px 55px 30px;
    
}

.operation_content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.panel {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    max-width: 281px;
    min-width: 281px;
    gap: 25px;
    position: relative;
    background-color: #F6f6f6;
    border-radius: 20px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.15));
    padding: 25px;

    .panel_number {
        position: absolute;
        left: -15px;
        border-radius: 50%;
        padding: 5px 10px 5px 10px;
        background-color: var(--main-color);
        color: white;

        p {
            font-size: 14px;
        }
    }


    p{
        font-size: 16px;
        font-weight: 550;
    }
    i {
        padding-left: 15px;
        width: 13px;
        color: grey;
    }
}



@media (min-width: 769px) {
    
    .operation {
        padding-left: 45px;

        .operation_content {
            justify-content: center;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 30px;
        }
        .panel {
            padding: 25px;
            min-width: 281px;
        }
    }



}

@media (min-width: 1025px) {
    
    .operation {
        align-items: center;


        .operation_box {
            display: flex;
            flex-direction: column;
            min-width: 1024px;
            max-width: 1024px;
        }

        .section_title {
            padding-left: 20px;
        }

        .operation_content {
            flex-wrap: nowrap;
        }

        .panel {
            min-width: 251px;
            max-width: 281px;
        }
    }

}