.restaurants {
    display: flex;
    flex-direction: column;
    background-color:rgb(243, 242, 242);
    padding: 15px;
    padding-bottom: 65px;
    
}


@media (min-width: 769px) {

    .restaurants {

        .section_title {
            display: flex;
            padding-left: 30px;
        }

    }
}


@media (min-width: 1025px) {
    .restaurants {
        align-items: center;
        .restaurants_box {
            display: flex;
            flex-direction: column;
            max-width: 1024px;
        }
        .section_title {
            padding-left: 20px;
        }
    }
}
